@model SimpleCommunityMessager.Models.ReceivedPostsOverviewViewModel

@{
    ViewBag.Title = "Read";
}

<h2>Read</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(ModelItem => Model.Usernames)

        </th>
    </tr>

@foreach (var item in Model.Usernames) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item)
        </td>

        <td>
            @Html.ActionLink("Details", "Details", new { username = item })
        </td>
    </tr>
}
</table>

<div>
    <p>
        <b>@Html.DisplayNameFor(ModelItem => Model.TotalMessages):</b> @Model.TotalMessages <br />

        <b>@Html.DisplayNameFor(ModelItem => Model.ReadMessages):</b> @Model.ReadMessages<br />

        <b>@Html.DisplayNameFor(ModelItem => Model.DeletedMessages):</b> @Model.DeletedMessages<br />
    </p>
</div>