@model SimpleCommunityMessager.Models.UserPostsDTO

@{
    ViewBag.Title = "Read";
}

<h2>Read</h2>

<table class="table">
    <tr>
        <th>
            From
        </th>
    </tr>

@foreach (var item in Model.usernames) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item)
        </td>

        <td>
            @Html.ActionLink("Details", "Details", new { username = item })
        </td>
    </tr>
}
</table>

<div>
    <p>
        <b>Total messages:</b> @Model.totalMessages <br />

        <b>Total unread messages:</b> @Model.unreadMessages<br />

        <b>Total deleted messages:</b> @Model.deletedMessages<br />
    </p>
</div>