@model SimpleCommunityMessager.Models.ReceivedPostsOverviewViewModel

@{
    ViewBag.Title = "Read";
}

<h2>Read</h2>

<table class="table">
    <tr>
        <th>
            From
        </th>
    </tr>

@foreach (var item in Model.Usernames) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item)
        </td>

        <td>
            @Html.ActionLink("Details", "Details", new { username = item })
        </td>
    </tr>
}
</table>

<div>
    <p>
        <b>Total messages:</b> @Model.TotalMessages <br />

        <b>Total unread messages:</b> @Model.ReadMessages<br />

        <b>Total deleted messages:</b> @Model.DeletedMessages<br />
    </p>
</div>