@model SimpleCommunityMessager.Models.AccountSummaryViewModel

@{
    ViewBag.Title = "Index";
}
<div>
    <h2>
        Index
    </h2>
</div>

<div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastLogin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginCounter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnreadCounter)
            </th>
        </tr>

        <tr>
            <td>
                @Html.DisplayFor(model => model.Username)
            </td>
            <td>
                @Html.DisplayFor(model => model.LastLogin)
            </td>
            <td>
                @Html.DisplayFor(model => model.LoginCounter)
            </td>
            <td>
                @Html.DisplayFor(model => model.UnreadCounter)
            </td>
        </tr>
    </table>
</div>