@model SimpleCommunityMessager.Models.IndexDTO

@{
    ViewBag.Title = "Index";
}
<div>
    <h2>
        Index
    </h2>
</div>

<div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.userName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastLogin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.loginCounter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.unreadCounter)
            </th>
        </tr>

        <tr>
            <td>
                @Html.DisplayFor(model => model.userName)
            </td>
            <td>
                @Html.DisplayFor(model => model.lastLogin)
            </td>
            <td>
                @Html.DisplayFor(model => model.loginCounter)
            </td>
            <td>
                @Html.DisplayFor(model => model.unreadCounter)
            </td>
        </tr>
    </table>
</div>