@model SimpleCommunityMessager.Models.ReceivedGroupPostSummaryViewModel

@{
    ViewBag.Title = "Messages";
}

<h2>Messages</h2>

<p>
    @Html.ActionLink("New message", "Create", "GroupMessages", new { id = Model.Id }, null)
</p>

<div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.messages)
            </th>
            <th>
                Timestamp
            </th>
        </tr>

        @foreach (var item in Model.messages)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "GroupMessages", new { id = item.Id }, null)
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
